/* grid system -- mobile first! */
.row {
  display: flex;
  flex-flow: row wrap;
}
[class*="col-"] {
  flex: 0 0 92%;
  margin: 0 4%;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  [class*="col-"] {
    margin-left: 4%;
    margin-right: 0%;
  }
  .col-1-2,
  .col-2 {
    flex: 0 0 44%;
  }
  .col-1-4,
  .col-2-4 {
    flex: 0 0 92%;
  }
  .order-2,
  .order-3 {
    order: 2;
  }
  .order-1 {
    order: 1;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .col-1-2,
  .col-1-4 {
    flex: 0 0 20%;
  }
  .col-2-4 {
    flex: 0 0 44%;
  }
  .col-3 {
    flex: 0 0 68%;
  }
  .order-3 {
    order: 3;
  }
  .order-2 {
    order: 1;
  }
  .order-1 {
    order: 2;
  }
}

/* default CSS - no need to change anything here. Change colors if you wish */

/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

img {
  width: 100%;
  max-width: 225px;
}
.col-1-2,
.col-1-4 {
  background-color: #ffc;
}
.col-2,
.col-2-4 {
  background-color: #fcf;
}
.col-3 {
  background-color: #cff;
}
.col-4 {
  background-color: #ccf;
}
